<div class="income">
  @if ($incomeList | async; as incomeList) {
    <div class="container-above-fixed-bottom">
      <!-- we could make it sticky with position: sticky and top: 0 -->
      <div class="box content is-medium">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-full has-text-weight-semibold">
            {{ currentMonth | date: "MMMM yyyy" }}
          </div>
        </div>
      </div>
      @for (income of incomeList; track income.id) {
        <div
          routerLink="/income/edit/{{ income.id }}"
          class="box content is-medium"
        >
          <div class="columns is-mobile">
            <div
              class="column has-one-line-overflow has-text-left has-text-weight-light"
            >
              {{ income.title }}
            </div>
            <div class="column is-narrow has-text-right">
              {{
                income.amountInCents / 100
                  | currency: "EUR" : "symbol" : "1.2-2"
              }}
            </div>
          </div>
        </div>
      }
      @if (incomeList.length === 0) {
        <div class="box content is-medium">
          <div class="columns is-mobile">
            <div class="column is-full has-text-centered">
              <span>Keine Einträge</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="container-fixed-bottom with-border">
      <div class="container is-max-tablet content is-medium">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-one-fifth has-text-left">
            <button routerLink="/income/templates" class="button is-text">
              <span class="icon"><fa-icon [icon]="faCopy"></fa-icon></span>
            </button>
          </div>
          <div
            class="column is-four-fifth has-text-right has-text-weight-semibold"
          >
            <span class="has-fixed-bottom-sum-margin">{{
              sumIncome(incomeList) / 100 | currency: "EUR" : "symbol" : "1.2-2"
            }}</span>
          </div>
        </div>
        <roba-fixed-bottom-button-group
          [abortButtonLink]="
            '/summary/' +
            currentMonth.getFullYear() +
            '/' +
            (currentMonth.getMonth() + 1)
          "
          mainButtonLink="/income/add"
        ></roba-fixed-bottom-button-group>
      </div>
    </div>
  } @else {
    <div class="container-above-fixed-bottom">
      <div class="box content is-medium">
        <div class="columns is-mobile">
          <div class="column has-text-left has-text-weight-light">
            <span class="is-skeleton">Skeleton Title</span>
          </div>
          <div class="column is-narrow has-text-right">
            <span class="is-skeleton">Skeleton</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fixed-bottom with-border">
      <div class="container is-max-tablet content is-medium">
        <roba-fixed-bottom-button-group
          [abortButtonLink]="
            '/summary/' +
            currentMonth.getFullYear() +
            '/' +
            (currentMonth.getMonth() + 1)
          "
          mainButtonLink="/income/add"
        ></roba-fixed-bottom-button-group>
      </div>
    </div>
  }
</div>
