.flex {
  --roba-fixed-bottem-height: 7rem;
}

.box-list .box {
  --bulma-block-spacing: 0.75rem;
  &.is-title {
    --bulma-block-spacing: 1.5rem;
  }
}

.expense-category {
  line-height: 1.25;
  margin-bottom: 0 !important;
}

.expense-title {
  font-size: var(--bulma-size-small);
  line-height: 1.25;
  font-weight: var(--bulma-weight-normal);
  // if we want to keep same height when empty
  //&::after {
  //  content: "\00a0";
  //}
}
