<div class="budget-overview">
  <div class="lanes">
    <div class="lane">
      <div class="lane-scrolling-container">
        <div class="card glas">content 1 first</div>
        <div class="card glas">content 1</div>
        <div class="card glas">content 1</div>
        <div class="card glas">content 1 last</div>
      </div>
    </div>
    <div class="lane">
      <div class="lane-scrolling-container">
        <div class="card glas">content 2 first</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2</div>
        <div class="card glas">content 2 last</div>
      </div>
    </div>
    <div class="lane">
      <div class="lane-scrolling-container">
        <div class="card glas">content 3 first</div>
        <div class="card glas">content 3 last</div>
      </div>
    </div>
  </div>
</div>
