<nav class="navbar is-fixed-bottom-touch">
  <div class="navbar-brand">
    <!--<a routerLink="/summary" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faHome" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Übersicht</span>
    </a>-->
    <a routerLink="/income" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faWallet" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Einkommen</span>
    </a>
    <a routerLink="/fix-expenses" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faMoneyBill" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Fixkosten</span>
    </a>
    <a routerLink="/expenses" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faMoneyBillWave" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Flexkosten</span>
    </a>
    <a routerLink="/budgets" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faMoneyBillTransfer" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Budgets</span>
    </a>
    <a routerLink="/settings" class="navbar-item centered">
      <span class="icon is-medium is-hidden-desktop">
        <fa-icon [icon]="faGear" size="2xl"></fa-icon>
      </span>
      <span class="is-hidden-touch">Einstellungen</span>
    </a>
  </div>
</nav>
<section class="hero is-fullheight-with-navbar background-mesh">
  <div class="hero-body has-text-centered">
    <div class="container is-max-tablet">
      <router-outlet />
    </div>
  </div>
</section>
