.background-mesh {
  background-color: var(--bulma-body-background-color);
  background-attachment: fixed;
  //background-color: var(--bulma-background);
  background-image: radial-gradient(
      at 95% 10%,
      hsla(19, 82%, 64%, 0.34) 0px,
      transparent 30%
    ),
    radial-gradient(at 50% 10%, hsla(193, 89%, 77%, 0.49) 0px, transparent 35%),
    radial-gradient(at 5% 10%, hsla(289, 71%, 66%, 0.3) 0px, transparent 30%);
}
