<div class="summary">
  @if ($incomeList | async; as incomeList) {
    <div class="container-above-fixed-bottom">
      @for (income of incomeList; track income.id) {
        <div routerLink="/income/edit/{{ income.id }}" class="box">
          <div class="columns is-mobile">
            <div
              class="column is-half is-one-line-overflow has-text-left has-text-weight-light"
            >
              {{ income.title }}
            </div>
            <div class="column is-half has-text-right">
              {{
                income.amountInCents / 100
                  | currency: "EUR" : "symbol" : "1.2-2"
              }}
            </div>
          </div>
        </div>
      }
      @if (incomeList.length === 0) {
        <div class="box">
          <div class="columns is-mobile">
            <div class="column is-full has-text-centered">
              <span>Keine Einträge</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="container-fixed-bottom with-border">
      <div class="container is-max-tablet">
        <div class="columns is-mobile is-align-items-center">
          <div class="column is-one-fifth has-text-left">
            <button routerLink="/income/templates" class="button is-text">
              <span class="icon"><fa-icon [icon]="faCopy"></fa-icon></span>
            </button>
          </div>
          <div
            class="column is-four-fifth has-text-right has-text-weight-semibold"
          >
            <span class="is-fixed-bottom-sum">{{
              sumIncome(incomeList) / 100 | currency: "EUR" : "symbol" : "1.2-2"
            }}</span>
          </div>
        </div>
        <roba-fixed-bottom-button-group
          [abortButtonLink]="
            '/summary/' +
            selectedDate.getFullYear() +
            '/' +
            (selectedDate.getMonth() + 1)
          "
          mainButtonLink="/income/add"
        ></roba-fixed-bottom-button-group>
      </div>
    </div>
  } @else {
    <div class="container-above-fixed-bottom">
      <div class="box">
        <div class="columns is-mobile">
          <div class="column is-half has-text-left has-text-weight-light">
            <span class="is-skeleton">Skeleton Title</span>
          </div>
          <div class="column is-half has-text-right">
            <span class="is-skeleton">Skeleton</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fixed-bottom with-border">
      <div class="container is-max-tablet">
        <roba-fixed-bottom-button-group
          [abortButtonLink]="
            '/summary/' +
            selectedDate.getFullYear() +
            '/' +
            (selectedDate.getMonth() + 1)
          "
          mainButtonLink="/income/add"
        ></roba-fixed-bottom-button-group>
      </div>
    </div>
  }
</div>
