<div class="edit">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="container-above-fixed-bottom">
      <div class="box">
        <div class="content has-text-left">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="title">Titel</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input
                    id="title"
                    class="input"
                    type="text"
                    formControlName="title"
                    placeholder="z.B. Gehalt"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="amount">Betrag</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input
                    id="amount"
                    class="input"
                    type="number"
                    formControlName="amount"
                    placeholder="100"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="date">Datum</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input
                    id="date"
                    class="input"
                    type="date"
                    formControlName="date"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      @if (id) {
        <button
          type="button"
          (click)="delete()"
          class="button is-danger is-light is-fullwidth"
        >
          <span class="icon">
            <fa-icon [icon]="faTrash"></fa-icon>
          </span>
          <span>Löschen</span>
        </button>
      }
    </div>
    <div class="container-fixed-bottom">
      <div class="container is-max-tablet">
        <!-- we navigate back to actual month as this will be correct 95% of the time -->
        <roba-fixed-bottom-button-group
          isFormSubmit
          abortButtonLink="/income"
          [mainButtonIcon]="faSave"
          mainButtonText="Speichern"
        ></roba-fixed-bottom-button-group>
      </div>
    </div>
  </form>
</div>
