@charset "utf-8";
@use "sass:color";

$purple: #d50ca2;

@use "../node_modules/bulma/sass" with (
  $primary: $purple,
  $dark: color.adjust($purple, $lightness: -10%)
);

.container-above-fixed-bottom {
  padding-bottom: 3rem;
}

.container-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: var(--bulma-navbar-height);
  padding: 1rem 1.5rem;
  background-color: var(--bulma-body-background-color);
}
