@charset "utf-8";
@use "sass:color";

$purple: #832065;
$pink: #df1c9a;

@use "../node_modules/bulma/sass" with (
  $primary: $purple,
  $dark: color.adjust($purple, $lightness: -10%),
  $link: $pink
);

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
